.productImg {
  width: 100px;
  height: 50px;
}

.DashProducts {
  width: 100%;
  height: 100%;
}

.products-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.table-head {
  background-color: #a4a4a4;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr {
  border-bottom: 1px solid black;
}

.table th,
td {
  padding: 10px;
}

.menuBtn {
  background-color: transparent;
  border: none;
  position: relative;
}

.menuBtn-dropDown {
  display: none;
  position: absolute;
  width: 50px;
  background-color: white;
  padding: 20px;
  z-index: 1;
  border-radius: 10px;
}
.menuBtn:hover .menuBtn-dropDown {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menuBtn-dropDown input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(174, 174, 174);
}
.addProduct_button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background-color: #003282;
  color: white;
}

#category {
  background-color: #003282;
  color: white;
  border-radius: none;
  width: 247px;
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}

#search {
  width: 340px;
  height: 40px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid gray;
}
